version: "3"

services:
  frontend:
    build: ./03-frontend/react-library
    container_name: frontend
    ports:
      - '3000:3000'
    volumes:
      - ./03-frontend/react-library:/app
    command: npm start
    depends_on:
      - backend
  
  backend:
    build: ./02-backend/spring-boot-library
    container_name: backend
    ports:
      - '8080:8080'
    volumes:
      - ./02-backend/spring-boot-library/src:/app/src
      - ./02-backend/spring-boot-library/pom.xml:/app/pom.xml
      - ./02-backend/spring-boot-library/.mvn:/app/.mvn
      - ./02-backend/spring-boot-library/mvnw:/app/mvnw
    # network_mode: "host"
    command: ["./mvnw", "spring-boot:run", "-Dspring.devtools.restart.enabled=true"]
    depends_on:
      - db
    restart: always

  # Database
  db:
    platform: linux/x86_64
    image: mysql:9.0.0
    volumes:
      - ./db_data:/var/lib/mysql
    restart: always
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: springboot
      MYSQL_PASSWORD: password

  # phpmyadmin
  # localhost:8090 username root 
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
